{% comment %}
Password input with a show/hide toggle.
Usage: {% include "components/password_field.html" with id="id_password" name="password" value="" autocomplete="current-password" error=False autofocus=False %}
{% endcomment %}
<div class="relative" x-data="{ show: false }">
  <input id="{{ id }}" name="{{ name }}" value="{{ value|default:'' }}"
         autocomplete="{{ autocomplete|default:'current-password' }}"
         {% if xmodel %}x-model="{{ xmodel }}"{% endif %}
         {% if autofocus %}autofocus{% endif %}
         {% if required %}required aria-required="true"{% endif %}
         {% if error %}aria-invalid="true" aria-describedby="err_{{ name }}"{% endif %}
         :type="show ? 'text' : 'password'"
         class="input pr-10{% if error %} input-error{% endif %}">
  <button type="button" @click="show = !show"
          class="absolute inset-y-0 right-0 w-10 flex items-center justify-center text-gray-400 hover:text-gray-600"
          :aria-label="show ? 'Hide password' : 'Show password'">
    <template x-if="!show">{% include "components/icon.html" with name="eye" class="w-[18px] h-[18px]" %}</template>
    <template x-if="show">{% include "components/icon.html" with name="eye-off" class="w-[18px] h-[18px]" %}</template>
  </button>
</div>
